/* ======== $HEADER ======== */

.header {
    height: 100vh;

    .container {
        .centrado {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);

            a {
                .avatar {
                    width: 110px;
                    height: auto;
                    margin-bottom: 2rem;
                    margin-right: 1rem;
                }
            }

            .box-presentacion {
                .saludo {
                    color: $tc;
                    font-size: 1.1rem;
                    margin: 0px;
                    letter-spacing: 0.1rem;
                }

                .rol {
                    font-family: $rale;
                    color: $tb;
                    font-size: 2.8rem;
                    margin: 0.4rem 0px 0.8rem 0px;
                    font-weight: bold;
                }

                .ubicacion {
                    color: $tc;
                    font-size: 1rem;

                    .icono {
                        margin-right: 0.5rem;
                        color: $ca;
                        font-size: 1em;
                    }
                }
            }
        }



        .box-rukma {
            .subtitle {
                font-family: $rale;
                color: $tc;
                font-size: 1.1rem;
                font-weight: normal;
                letter-spacing: 0.2em;
                bottom: -30px;
                position: relative;
            }

            .title {
                font-family: $rale;
                color: $ta;
                font-size: 5rem;
                margin: 0.4rem 0px 0.8rem 0px;
                font-weight: bold;
            }

            .paragraf {
                bottom: 10px;
                position: relative;
                color: $tb;
                font-size: 1.8rem;
                font-weight: normal;
                letter-spacing: 0.1em;
            }

            .historia {
                bottom: 10px;
                position: relative;
                color: $tb;
                font-size: 1rem;
                font-weight: normal;
                letter-spacing: 0.1em;
                max-width: 500px;
            }
        }
    }
}