/* ======== $NAVEGADOR ======== */
nav {
    max-width: 100% !important;

    .container-full {
        width: 100% !important;

        .logotipo-rukma {
            margin: 1.2em 0em 0em 1.2em;
            max-width: 260px;
        }
    }
}