/* =============================== */
/* ======== $VARIABLES    ======== */
/* =============================== */

$muli: 'Muli',
sans-serif;

$rale: 'Raleway',
sans-serif;

$ca: #697FDD; //697FDD
$cb: #131313; //131313

$ta: #C6CCD2;
$tb: #9BA3AD;
$tc: #71767C;